* {
  padding: 0;
  margin: 0;
  font-family: "Epilogue", sans-serif;
  
}

#logo {
  font-size: 25px;
}

/* Hero section  */

.title {
  font-size: 75px;
  font-weight: 700;
  margin-bottom: 0;
}

.second-title {
  /* padding: 10px; */
  font-size: 65px;
}

.hero-text {
  font-size: 15px;
}

.text {
  margin-bottom: 50px;
}

.button {
  text-decoration: none;
  border: 1px solid black;
  border-radius: 12px;
  color: #ffff;
  font-size: 20px;
  padding: 10px 10px;
  background: black;
}

#hero-img {
  width: 80%;
}

#hero-sponspor{
    padding-top: 15px;
}
/* 
img{
    height: 3%;
   
} */

@media only screen and (max-width: 320px) {

      #hero-sponspor{
        padding-top: 15px;
    }
}