*{
    padding: 0;
    margin: 0;
    font-family: 'Epilogue', sans-serif;
}

#logo{
    font-size: 30px;
}


#Hero{
    text-align: center;


}


.title{
    font-size: 65px;
    margin-bottom: 0;
}

.second-title{
    /* padding: 10px; */
    font-size: 65px;
    
}

.text{
    margin-bottom: 50px;
}


.button{
    text-decoration: none;
    border: 1px solid black;
    border-radius: 15px;
    color: #ffff;
    font-size: 20px;
    padding: 10px 10px;
    background: black;
    
}


.image{
    height: 53%;
   
}

@media screen and (max-width:1000px) {
    .image{
        display: none;
    }
    
}